html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Playfair Display', 'Arial', sans-serif;
    color: #626262;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 900px;
    /* background: lawngreen; */
    margin: 0 auto;
}
/* Section navigation */
.header {
    text-align: center;
}
.site-navigation {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 0;
}
.site-navigation li:not(:last-child) {
    margin-right: 120px;
}
.site-navigation li {
    display: inline-block;
}
a {
    display: block;
    font-size: 14px;
}
.header {
    padding: 75px 0px 105px;
}
.menu-link {
    color:#626262;
    text-decoration: none;
    line-height: 24px;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}
/* Section articles list */
.articles-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    padding-bottom: 55px;
}
.list-item {
    width: 420px;
    display: inline-block;
    margin: 0;
    margin-right: 60px;
    margin-bottom: 122px;
    vertical-align: top;
}
.list-item:nth-child(2n) {
    margin-right: 0;
}
.list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
}
.list-images {
    margin: 0;
    margin-bottom: 30px;
}
.rubric-name {
    font-size: 14px;
    color: #b4ad9e;
    line-height: 17px;
    margin: 0;
    margin-bottom: 26px;
}
.articles-title {
    color: #626262;
    font-size: 30px;
    line-height:36px;
    margin: 0;
    margin-bottom: 40px;
}
.article-text {
    margin: 0;
    font-size: 14px;
}
.section {
    padding-bottom: 70px;
}
.button-load-more {
    font-size: 20px;
    line-height: 24px;
    display: block;
    margin: auto;
    margin-top: 0;
    background: transparent;
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    width: 164px;
    height: 60px;
    color: #626262;
    line-height: 1.2;
}
.button-load-more:hover {
    color: #03a9f4;
}
.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}
