html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.container {
    width: 1110px;
    margin: auto;
}
/* Section navigation */
.navigation {
    margin: 0 auto;
    margin-top: 32px;
}
.site-logo {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 30px;
    color: #555252;
    float: left;
}
.site-logo:first-letter {
    color: #1abc9c;
  }
.site-navigation {
    width: 475px;
    /* margin: auto; */
    margin: 0;
    padding: 0;
    padding-top: 8px;
    list-style: none;
}
.site-navigation {
    float: right;
}
.site-navigation li {
    display: block;
    float: left;
}
.site-navigation li:not(:last-child) {
    margin-right: 30px;
}
.site-navigation a {
    font: bold;
    text-decoration: none;
    color: #0f0101;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

/* <!-- Section prodacts --> */
.section-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 48px;
    color: #515151;
    list-style: none;
    margin-top: 105px;
    margin-bottom: 130px;
}
.section-title::after {
    display: block;
    margin: auto;
    padding: 0;
    margin-top: 35px;
    content: "";
    width: 164px;
    height: 7px;
    background: #1abc9c;
    margin-bottom: 80px;
}
.product-list {
    margin: 0;
    padding: 0;
}
.product-link {
    display: inline-block;
    width: 255px;
    height: 282px;
    margin: 0 auto;
}
.product-list-item:hover 
.product-name 
{
    background-color: #1abc9c;
}
.product-list-item:hover 
.product-cost {
    background-color: #1abc9c;
}
.product-list-item {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 255px;
    height: auto;
    float: left;
    list-style: none;
}
.product-bottom-block {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.product-name {
    display: block;
    width: 201px;
    height: 40px;
    background: #323232;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    font-size: 18px;
    color: #ffffff;
    float: left;
    padding-left: 13px;
}
.product-cost {
    display: block;
    width: 54px;
    height: 40px;
    background: #8c8c8c;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    font-size: 18px;
    color: #ffffff;
    float: right;
    text-align: center;
}

.product-list-item:nth-child(4n) {
    margin-right: 0;
}
.product-list-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
}

/* <!-- Section news --> */
.news-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 80px;
    font-size: 0;
}
.news-list-item {
    width: 350px;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}
.news-list-item:nth-child(3n) {
        margin-right: 0;
    }
.news-list-item {
    float: left;
}
.news-images {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
}
.articles-title {
    font-size: 18px;
    line-height: 26px;
    color: #555252;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.articles-title::after {
    display: block;
    padding: 0;
    margin-top: 15px;
    content: "";
    width: 136px;
    height: 3px;
    background: #1abc9c;
}
.news-text {
    font-size: 14px;
    line-height: 26px;
    color: #555252;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.link-read-more {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    width: 159px;
    height: 51px;
    background: #1abc9c;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
}

.link-read-more:hover,
.link-read-more:focus {
    opacity: 35%;
}


